@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Home" asp-action="Film" class="btn btn-primary mt-4">Overview</a>
    <a asp-controller="Home" asp-action="CreateEdit" class="btn btn-secondary mt-4">Create New</a>
</div>
